<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <form action="/search" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Archives</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    {% for archive in archives %}
                    <li>
                        <a href="{{ path('posts_date', {'year': archive.month.format('Y'), 'month': archive.month.format('m')}) }}">
                            {{ archive.month | date('F Y') }} ({{ archive.count }})
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Cateogries</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    {% for category in categories %}
                    <li>
                        <a href="#">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
